// Place all the styles related to the admin/sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Base label style */
.custom-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* Success style */
.custom-label-success {
  background-color: #5cb85c;
}

/* Info style */
.custom-label-info {
  background-color: #5bc0de;
}

/* Warning style */
.custom-label-warning {
  background-color: #f0ad4e;
}

/* Danger style */
.custom-label-danger {
  background-color: #d9534f;
}

